  .outer-card {
    max-width: 400px;
    margin: auto;
  }
  
  .banned-header-image {
    background-image: url('./../helpers/no-sign.svg');
    background-size: cover;
  }

  .year-select{
    width: 25%;
    margin: 0px 10px;
}

.month-select{
  width: 25%;
    margin: 0px 20px;
}

.banned-content {
  max-width: 400px;
  margin: auto;
  height: 50vh;
  overflow: scroll;
}