<div style="height: 5%; background-color: white;margin-top: 10px;">
<div class="tab-heading">Rank</div>
</div>
<mat-divider></mat-divider>

<mat-tab-group class="tab-class"[selectedIndex]="selected.value"
                mat-align-tabs="center"
               (selectedIndexChange)="selected.setValue($event)">
  <mat-tab class="tab-class-sub" [ngSwitch]="tabs" *ngFor="let tab of tabs; let index = index" [label]="tab.name">
    <div class="tab-height">
      <credit-card-menu *ngIf="tab.id === 'CreditCard'"></credit-card-menu>
      <banned-country-list *ngIf="tab.id === 'BannedCountries'"></banned-country-list>
      <credit-card-list *ngIf="tab.id === 'CreditCardList'"></credit-card-list>
    </div>    
  </mat-tab>
</mat-tab-group>