  .outer-card {
    max-width: 400px;
    margin: auto;
  }
  
  .banned-header-image {
    background-image: url('https://static.vecteezy.com/system/resources/previews/010/145/919/non_2x/credit-card-icon-sign-symbol-design-free-png.png');
    background-size: cover;
  }

  .year-select{
    width: 25%;
    margin: 0px 10px;
}

.month-select{
  width: 25%;
    margin: 0px 20px;
}

.banned-content {
  max-width: 400px;
  margin: auto;
  height: 56vh;
  overflow: scroll;
}
.search-field{

}
    
.card-look{
  border-radius: 10px;
    margin: 20px;
    background-color: #2980b9;
    width: 90%;
}